@{
    ViewData["Title"] = "ArgumentDiagram";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/css/style.css" />

<div class="container arg-container">
    <div class="col-md-5">
        <form id="argumentForm">
            <div class="form-group">
                <label for="argText">Argument:</label>
                <textarea class="form-control" name="argText" id="argText"></textarea>
            </div>
        </form>
        <button class="btn btn-default" id="btnSend">Submit</button>
        <p>@ViewData["ConvertedWords"]</p>
    </div>
    <div class="col-md-7">
        <div class="chart" id="basic-example"></div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/treant-js/vendor/raphael.js"></script>
<script src="~/lib/treant-js/Treant.js"></script>
<script src="~/diagrams/arg1.js"></script>
<script>
    var chart = new Treant(chart_config);
</script>

<script>
    $('#btnSend').click(function () {

        $.ajax({
            type: "POST",
            url: '@Url.Action("AddNode")',
            dataType: "json",
            data: { argText: $('#argText').val() },
            success: function (responseData) {

                chart_config.nodeStructure.children.push(responseData);
                chart = new Treant(chart_config);

            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log("Failure! " + xhr.responseText);
                console.log(thrownError);
            }

        })
    })
</script>
