@{
    ViewData["Title"] = "ArgumentDiagram";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/css/style.css" />

<div class="container arg-container">
    <div class="col-md-5">
        <form id="argumentForm">
            <div class="form-group">
                <label for="parentId">Parent ID:</label>
                <input type="number" step="1" class="form-control" name="parentId" id="parentId" />
            </div>            
            <!--<div class="form-group">
                <label for="newId">New ID:</label>
                <input type="number" step="1" class="form-control" name="newId" id="newId" />
            </div>-->
            <div class="form-group">
                <label for="argText">Argument:</label>
                <textarea class="form-control" name="argText" id="argText"></textarea>
            </div>
        </form>
        <button class="btn btn-default" id="btnSend">Submit</button>
        <p>@ViewData["ConvertedWords"]</p>
    </div>
    <div class="col-md-7">
        <div class="chart" id="basic-example"></div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/treant-js/vendor/raphael.js"></script>
<script src="~/lib/treant-js/Treant.js"></script>
<script src="~/diagrams/arg1.js"></script>
<script>
    var chart = new Treant(chart_config);
</script>
<script>
    function getObjects(obj, key, val) {
        var objects = [];
        for (var i in obj) {
            if (!obj.hasOwnProperty(i)) continue;
            if (typeof obj[i] == 'object') {
                objects = objects.concat(getObjects(obj[i], key, val));
            } else if (i == key && obj[key] == val) {
                objects.push(obj);
            }
        }
        return objects;
    }
</script>
<script>
    $('#btnSend').click(function () {

        var parentId = $('#parentId').val();

        if (!$('#argText').val() || !$('#parentId').val()) {
            window.alert("Something is missing, yo");
        } else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddNode")',
                dataType: "json",
                data: { argText: $('#argText').val() },
                success: function (responseData) {

                    var object = getObjects(chart_config.nodeStructure, 'id', parentId);
                    object[0].children.push(responseData);

                    //chart_config.nodeStructure.children.push(responseData);
                    chart = new Treant(chart_config);

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log("Failure! " + xhr.responseText);
                    console.log(thrownError);
                }

            });
        }
    })
</script>
