.arg-container {
    padding-top: 40px;
    height: 80vh;
    width: 80%;
}

#text {
    width: 100%;
    height: 100%;
    resize: none;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

body {
    background: #fff;
}

.navbar-main {
    border-radius: 0px;
    border: none;
}

.cloud i {
    font-size: 40px;
    padding: 7px;
    cursor: pointer;
    color: #cacaca;
}

.cloud i:hover {
    color: #fff;
}

/* optional Container STYLES */
.chart {
    /* height: 600px; */
    margin: 5px;
    width: auto;
}

.Treant > .node, .Treant > .pseudo {
    position: absolute;
}

/*.Treant > .node:hover {
    background-color: #DDDDDD;
    cursor: pointer;
}*/

.Treant > p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.node-name {
    font-weight: bold;
}

.nodeExample1 {
    font-family: Tahoma;
    font-size: 12px;
}

.nodeTitle {
    text-align: center;
    padding: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #000;
    width: 200px;
}

.nodeAttributes > table {
    width: 100%;
    margin: auto;
}

.nodeAttributes > th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2.5px 10px;
    margin: auto;
}

.reason {
    text-align: center;
    padding: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 50%;
    border: 1px solid #000;
    width: 48px;
    height: 24px;
}

.conflict {
    text-align: center;
    padding: 2px;
    border: 1px solid #000;
    width: 36px;
    height: 24px;
}

.btn-new-node-wrapper {
    padding-bottom: 40px;
    width: 100%;
    text-align: center;
}

#nodeFunctionsWrapper, #myChartsWrapper, #highlightTextWrapper{
    padding: 30px;
    width: 210px;
    display: none;
    position: absolute;
}

#nodeFunctions, #myChartsFunctions, #highlightText {
    border: 1px solid #000;
    background: #fff;
    height: auto;
    width: 100%;
    text-align: center;
}

#myChartsFunctions {
    text-align: left;
}

#myChartsFunctions button{
    padding-left: 10px;
}

#nodeFunctions button, #myChartsFunctions button, #highlightText button{
    display: block;
    margin: 0 auto;
    width: 100%;
    border: none;
}

#fileinput, #textInput {
    display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #222;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #cacaca;
    display: block;
    transition: 0.2s;
    cursor: pointer;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.navbar-main {
    transition: margin-left .5s;
}

.my-diagrams-container {
    position: absolute;
    top: 0;
}

.my-diagrams h2{
    background: #95BCF2;
    padding: 17px 5px;
    font-size: 18px;
    margin: 10px 0;
}
